@font-face {
    font-family: "Braile";
    src: url(fonts/BRAILLE.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Black.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    
}
h1{
    padding: 50px;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
}

form{
    padding: 20px;
}

#palavra{
    display: flex;
    font-size: 3em;
    font-family: "Braile";
    letter-spacing: 20px;
}
header{
    image-rendering: pixelated;
    padding: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Imagens/Fibber.png);
    background-position: center center;
    background-size: 3%;
}

#tabela{
    position: relative;
    width: 500px;
    left: 50%;
    transform: translate(-50%);
    margin: 20px 0px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar{
    background-color: rgb(166, 166, 166);
}
::-webkit-scrollbar-thumb{
    background-color: #BB2D3B;
    border-radius: 20px;
}